<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    <link rel="icon" type="image/png" href="{{asset "favicon.png"}}" />
    <link href="{{asset "favicon.png"}}" rel="shortcut icon" type="image/png">
    <link href="{{asset "apple-touch-icon.png"}}" rel="apple-touch-icon">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/cuckoo.min.css"}}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/tomorrow.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <script type="text/javascript">
      {{> custom/config}}

      // Cuckoo Globals
      // ==============
      window.CUCKOO = {};
      CUCKOO.haveGA = (typeof ga_ua !== 'undefined' && ga_ua !== 'UA-XXXXX-X');
      CUCKOO.haveDisqus = (typeof disqus_shortname !== 'undefined' && disqus_shortname !== 'example');
    </script>
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        {{> footer}}
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Cuckoo }}

    {{! Highlight.js}}
    <script type="text/javascript" src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{> analytics}}
</body>
</html>
